
 @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    
    
}
body{
    background-color:white;
}
.Header{
    width: 100%;
    height: 1000px;
    background-image: url(../images/banner.png);
    background-size:cover;
}
.continer{
    margin: auto;
    width: 90%;
    height: 120px;
    background-color: #ed1c24;
    display: flex;
    justify-content: center;

}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 200px;
    position: relative;
    left: 140px;
   

}

ul li{
    display: flex;
    padding-left: 105px;
    font-size: 30px;
    color: white;
    font-weight: normal;
    font-style: normal;
    
}
.continer ul li:hover{
    color: black;
    transition: 1s;
    cursor: pointer;
}
.icon2{
    width: 500px;
    height: 200px;
    background-color: transparent;
    border-radius: 100px;
    position: relative;
    right: 45%;
    
  

}
.img3{
    position: absolute;
    right: -11px;
    top: 90px;
    width: 160%;
    padding-bottom: 0;
    
    

}
.icon{
    position: absolute;
    right: 0;
    width: 5%;
    height: 12%;
    background-color: #00132b;
}
.icon1{
    position: absolute;
    left: 0;
    width: 5%;
    height: 12%;
    background-color: #00132b;
}
p{
    margin-top: 18px;
    color: white;
    font-size: 40px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    
}





